.container{
  max-width: 400px;
  min-height: 450px;
  margin:0 auto;
  background-color:#efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;
}

.Acc-summary{
  display: flex;
  flex-direction:row;
  justify-content: space-around;

}
.Trans_list{
  margin: 0;
  padding: 0;
}

.Trans_list > li{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px gray;
  margin-bottom: 10px;
}
.form-control{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}